# 同性質的變數宣告

In [1]:
math_student_1 = 32
math_student_2 = 64
math_student_3 = 96

print("學生1的數學成績 = ",math_student_1)
print("學生2的數學成績 = ",math_student_2)
print("學生3的數學成績 = ",math_student_3)

學生1的數學成績 =  32
學生2的數學成績 =  64
學生3的數學成績 =  96

# 使用程式改寫上述的程式

In [9]:
math = [32,64,96]

print("學生1的數學成績 = ",math[0])
print("學生2的數學成績 = ",math[1])
print("學生3的數學成績 = ",math[2])

學生1的數學成績 =  32
學生2的數學成績 =  64
學生3的數學成績 =  96

# 串列的最後一筆元素，索引值填入-1

In [11]:
math = [32,64,96]

print("學生1的數學成績 = ",math[0])
print("學生2的數學成績 = ",math[1])
print("學生3的數學成績 = ",math[-1])

學生1的數學成績 =  32
學生2的數學成績 =  64
學生3的數學成績 =  96

In [1]:
math = [32,64,96,55,98,66,58,33,24,75,64,88,86,87,91,46]
print("最後一位學生的數學成績 = ",math[-1])
print("倒數第二位學生的數學成績 = ",math[-2])

最後一位學生的數學成績 =  46
倒數第二位學生的數學成績 =  91

# 串列的切片

In [1]:
math = [32,64,96,55,98,66,58,33,24,75,64,88,86,87,91,46]

print(math[2:6])

[96, 55, 98, 66]

In [3]:
math = [32,64,96,55,98,66,58,33,24,75,64,88,86,87,91,46]

print(math[2:-10])

[96, 55, 98, 66]

# 空串列的宣告

In [15]:
math = list()
print(math)

english = []
print(english)

[]
[]

# 學生名稱、科目名稱、數值都放到串列裡

In [18]:
student_1 = ["Jay",'Chinese',59,"English",63,'Math',78]

print("學生名稱: ",student_1[0])
print("科目名稱: ",student_1[1])
print("分數: ",student_1[2])
print("科目名稱: ",student_1[3])
print("分數: ",student_1[4])
print("科目名稱: ",student_1[5])
print("分數: ",student_1[6])

學生名稱:  Jay
科目名稱:  Chinese
分數:  59
科目名稱:  English
分數:  63
科目名稱:  Math
分數:  78

In [28]:
score_list = [
                ["Jay",'Chinese',59,"English",63,'Math',78],
                ["Jolin",'Chinese',88,"English",93,'Math',60]
            ]

print("學生名稱: ",score_list[0][0])
print("科目名稱: ",score_list[0][1])
print("分數: ",score_list[0][2])
print("科目名稱: ",score_list[0][3])
print("分數: ",score_list[0][4])
print("科目名稱: ",score_list[0][5])
print("分數: ",score_list[0][6])
print("----------我是分隔線-----------")
print("學生名稱: ",score_list[1][0])
print("科目名稱: ",score_list[1][1])
print("分數: ",score_list[1][2])
print("科目名稱: ",score_list[1][3])
print("分數: ",score_list[1][4])
print("科目名稱: ",score_list[1][5])
print("分數: ",score_list[1][6])

學生名稱:  Jay
科目名稱:  Chinese
分數:  59
科目名稱:  English
分數:  63
科目名稱:  Math
分數:  78
----------我是分隔線-----------
學生名稱:  Jolin
科目名稱:  Chinese
分數:  88
科目名稱:  English
分數:  93
科目名稱:  Math
分數:  60

In [29]:
student_1 = ["Jay",'Chinese',59,"English",63,'Math',78]
student_2 = ["Jolin",'Chinese',88,"English",93,'Math',60]
score_list = [student_1,student_2]

print("學生名稱: ",score_list[0][0])
print("科目名稱: ",score_list[0][1])
print("分數: ",score_list[0][2])
print("科目名稱: ",score_list[0][3])
print("分數: ",score_list[0][4])
print("科目名稱: ",score_list[0][5])
print("分數: ",score_list[0][6])
print("----------我是分隔線-----------")
print("學生名稱: ",score_list[1][0])
print("科目名稱: ",score_list[1][1])
print("分數: ",score_list[1][2])
print("科目名稱: ",score_list[1][3])
print("分數: ",score_list[1][4])
print("科目名稱: ",score_list[1][5])
print("分數: ",score_list[1][6])

學生名稱:  Jay
科目名稱:  Chinese
分數:  59
科目名稱:  English
分數:  63
科目名稱:  Math
分數:  78
----------我是分隔線-----------
學生名稱:  Jolin
科目名稱:  Chinese
分數:  88
科目名稱:  English
分數:  93
科目名稱:  Math
分數:  60

# for迴圈的使用

In [7]:
a_list = ['元素1','元素2','元素3']
for element in a_list:
    print(element)

元素1
元素2
元素3

In [4]:
math = [32,64,96]

print("學生1的數學成績 = ",math[0])
print("學生2的數學成績 = ",math[1])
print("學生3的數學成績 = ",math[2])

學生1的數學成績 =  32
學生2的數學成績 =  64
學生3的數學成績 =  96

In [7]:
math = [32,64,96]
count = 1

for score in math:
    print("學生",count,"的數學成績 = ",score)
    count += 1

學生 1 的數學成績 =  32
學生 2 的數學成績 =  64
學生 3 的數學成績 =  96

In [20]:
math = [32,64,96]
count = 1

for score in math:
    print("學生",count,"的數學成績 = ",score)
    count += 1
    
print("count最終的數值 = ",count)

學生 1 的數學成績 =  32
學生 2 的數學成績 =  64
學生 3 的數學成績 =  96
count最終的數值 =  4

# 列舉函數enumerate()

In [8]:
math = [32,64,96]

for count,score in enumerate(math):
    print("學生",count+1,"的數學成績 = ",score)
    
print("count最終的數值 = ",count)

學生 1 的數學成績 =  32
學生 2 的數學成績 =  64
學生 3 的數學成績 =  96
count最終的數值 =  2

# 有無給值得差異

In [31]:
a = 0
a + 1

print(a)

0

In [33]:
a = 0
a += 1

print(a)

1

# 巢狀for迴圈

In [40]:
score_list = [
                ["Jay",'Chinese',59,"English",63,'Math',78],
                ["Jolin",'Chinese',88,"English",93,'Math',60]
            ]

for count,student in enumerate(score_list):
    print("第",count+1,"位學生的資料如下:")
    
    for idx,element in enumerate(student):
        print("第",idx,"個元素是",element)

第 1 位學生的資料如下:
第 0 個元素是 Jay
第 1 個元素是 Chinese
第 2 個元素是 59
第 3 個元素是 English
第 4 個元素是 63
第 5 個元素是 Math
第 6 個元素是 78
第 2 位學生的資料如下:
第 0 個元素是 Jolin
第 1 個元素是 Chinese
第 2 個元素是 88
第 3 個元素是 English
第 4 個元素是 93
第 5 個元素是 Math
第 6 個元素是 60

In [2]:
name_list = ["Jay",'Jolin']
subject_list = ['Chinese','English','Math']

score_list = [
                [59,63,78],
                [88,93,60]
             ]

In [46]:
name_list = ["Jay",'Jolin']
subject_list = ['Chinese','English','Math']
score_list = [
                [59,63,78],
                [88,93,60]
             ]
#----第一層for迴圈
for count,student in enumerate(score_list):
    #----流程1
    print("第",count+1,"位學生",name_list[count],"的成績如下:")
    
    #----第二層for迴圈
    for idx,score in enumerate(student):
        #----流程2
        print("科目名稱: ",subject_list[idx])
        print("分數: ",score)

第 1 位學生 Jay 的成績如下:
科目名稱:  Chinese
分數:  59
科目名稱:  English
分數:  63
科目名稱:  Math
分數:  78
第 2 位學生 Jolin 的成績如下:
科目名稱:  Chinese
分數:  88
科目名稱:  English
分數:  93
科目名稱:  Math
分數:  60

# for 迴圈與if else的搭配

In [1]:
name_list = ["Jay",'Jolin']
subject_list = ['Chinese','English','Math']
score_list = [
                [59,63,78],
                [88,93,60]
             ]
appointed_name = 'Jay'
appointed_subject = 'Math'

#----第一層for迴圈
for count,student in enumerate(score_list):
    #----流程1
    if name_list[count] == appointed_name:
        print("學生名字: ",name_list[count])
        
        #----第二層for迴圈
        for idx,score in enumerate(student):
            #----流程2
            if subject_list[idx] == appointed_subject:
                print("科目名稱: ",subject_list[idx])
                print("分數: ",score)

學生名字:  Jay
科目名稱:  Math
分數:  78

# 若加上else敘述

In [13]:
name_list = ["Jay",'Jolin']
subject_list = ['Chinese','English','Math']
score_list = [
                [59,63,78],
                [88,93,60]
             ]
appointed_name = 'Jay'
appointed_subject = 'Math'

#----第一層for迴圈
for count,student in enumerate(score_list):
    #----流程1
    if name_list[count] == appointed_name:
        print("學生名字: ",name_list[count])
    else:
        print("沒有符合的學生名字")

學生名字:  Jay
沒有符合的學生名字

# break的使用

In [18]:
name_list = ["Jay",'Jolin','May','Emily','Iris',
             'Yuna','Johnny','Ariel','Jeremy','Peter']
appointed_name = 'Jay'


#----未加入break
for count,name in enumerate(name_list):
    if name == appointed_name:
        print("你指定的名字已經找到，索引值 = ",count)
        
print("for迴圈總共取值的次數 = ",count + 1)

#----加入break，中斷for迴圈
for count,name in enumerate(name_list):
    if name == appointed_name:
        print("你指定的名字已經找到，索引值 = ",count)
        break
        
print("for迴圈總共取值的次數 = ",count + 1)

你指定的名字已經找到，索引值 =  0
for迴圈總共取值的次數 =  10
你指定的名字已經找到，索引值 =  0
for迴圈總共取值的次數 =  1

In [8]:
a = [1,2,3,4]

for i in a:
    if i == 4:
        break
    print(i)

1
2
3

# 可執行for迴圈的對象

In [4]:
a = 56
for i in a:
    print(i)

TypeError: 'int' object is not iterable

In [5]:
a = "56"
for i in a:
    print(i)

5
6

# 物件的簡單概念

In [1]:
a = "腦容量總是不足"

dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 回傳值概念

In [5]:
a = [1,2,3,4,4,4,3,2,1]

number = a.count(4)
print("a.count()的回傳值 = ",number)

ret = a.remove(1)
print("a.remove()的回傳值 = ",ret)
print(a)

a.count()的回傳值 =  3
a.remove()的回傳值 =  None
[2, 3, 4, 4, 4, 3, 2, 1]

# append()方法

In [4]:
name_list = list()

name = input("輸入要儲存的名字")
name_list.append(name)

print(name_list)

輸入要儲存的名字Johnny
['Johnny']

In [6]:
name_list = list()

for i in range(100):
    name = input("輸入要儲存的名字")
    if name == '':
        break
    else:
        name_list.append(name)

print("你所輸入的所有名字:",name_list)

輸入要儲存的名字Johnny
輸入要儲存的名字Jeremy
輸入要儲存的名字Jay
輸入要儲存的名字
你所輸入的所有名字: ['Johnny', 'Jeremy', 'Jay']

# range()函數

In [51]:
a = range(0,10,2)

for i in a:
    print(i)

0
2
4
6
8

## 當間隔數等於1而省略不寫的情況

In [57]:
a = range(0,3)

for i in a:
    print(i)

0
1
2

## 當間隔數等於1、起始值等於0而省略不寫的情況

In [54]:
a = range(3)

for i in a:
    print(i)

0
1
2

# extend()方法

In [67]:
a = [1,]
b = [2,3,4]
a.extend(b)

print(a)

[1, 2, 3, 4]

In [68]:
a = [1,]
b = [2,3,4]
a.append(b)

print(a)

[1, [2, 3, 4]]

In [69]:
a = [1,]
b = [[2,3,4]]
a.extend(b)

print(a)

[1, [2, 3, 4]]

In [70]:
#A老師有30位學生，這邊縮短成3位學生，但邏輯相同
a = ['Mary', 'Kyo', 'Iori']

#B老師有20位學生，這邊縮短成2位學生，但邏輯相同
b = ['Benimaru', 'Daimon']
new = []#整合後的學生名單

for name in a:
    
    new.append(name)
    
for name in b:
    
    new.append(name)
    
print(new)

['Mary', 'Kyo', 'Iori', 'Benimaru', 'Daimon']

In [71]:
#A老師有30位學生，這邊縮短成3位學生，但邏輯相同
a = ['Mary', 'Kyo', 'Iori']

#B老師有20位學生，這邊縮短成2位學生，但邏輯相同
b = ['Benimaru', 'Daimon']
new = []#整合後的學生名單

new.extend(a)
new.extend(b)

print(new)

['Mary', 'Kyo', 'Iori', 'Benimaru', 'Daimon']

# 使用in來檢驗元素是否存在串列中

In [7]:
name_list = ['Mary', 'Kyo', 'Iori']

name = input("輸入欲查詢的名字")

if name in name_list:
    print("名字存在")
else:
    print("名字不存在")

輸入欲查詢的名字Mary
名字存在

# remove()方法

In [8]:
name_list = ['Mary', 'Kyo', 'Iori']
name = "Kyo"

if name in name_list:
    name_list.remove(name)
    
print(name_list)

['Mary', 'Iori']

In [9]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo']
name = "Kyo"

if name in name_list:
    name_list.remove(name)
    
print(name_list)

['Mary', 'Iori', 'Kyo']

In [2]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']
name = "Kyo"

for i in range(1000):
    if name in name_list:
        name_list.remove(name)
    else:
        break
        
print(name_list)

['Mary', 'Iori', 'Chris']

# count()方法

In [16]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']
qty = name_list.count('Kyo')

print(type(qty))

<class 'int'>

In [18]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']
name = "Kyo"

qty = name_list.count(name)

for i in range(qty):
    if name in name_list:
        name_list.remove(name)
    else:
        break
        
print(name_list)

['Mary', 'Iori', 'Chris']

# index()方法

In [21]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']

idx = name_list.index('Johnny')

print(idx)

ValueError: 'Johnny' is not in list

In [22]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']
name = "Johnny"

if name in name_list:
    idx = name_list.index(name)
    print("元素索引值 = ",idx)
else:
    print("你查詢的元素不存在")

你查詢的元素不存在

# clear()方法

In [29]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']

name_list.clear()
#也可以寫成name_list = []
#或是name_list = list()

print(name_list)

[]

# sort()方法

In [5]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']

print(name_list)
name_list.sort()
print(name_list)

['Mary', 'Kyo', 'Iori', 'Kyo', 'Chris', 'Kyo']
['Chris', 'Iori', 'Kyo', 'Kyo', 'Kyo', 'Mary']

In [6]:
a = ['apple','Apple','bee','Bee']

print(a)
a.sort()
print(a)

['apple', 'Apple', 'bee', 'Bee']
['Apple', 'Bee', 'apple', 'bee']

In [2]:
a = [99,5,5.01,65,8,0,-9]

print(a)
a.sort()
print(a)

[99, 5, 5.01, 65, 8, 0, -9]
[-9, 0, 5, 5.01, 8, 65, 99]

In [7]:
a = [99,5,'apple',5.01,'Apple',65,8,'bee',0,-9,'Bee']

print(a)
a.sort()
print(a)

[99, 5, 'apple', 5.01, 'Apple', 65, 8, 'bee', 0, -9, 'Bee']

TypeError: '<' not supported between instances of 'str' and 'int'

# copy()方法

In [2]:
a = ['Johnny']
b = a

b.append('Jeremy')

print("a串列內容:",a)
print("b串列內容:",b)

a串列內容: ['Johnny', 'Jeremy']
b串列內容: ['Johnny', 'Jeremy']

In [3]:
a = ['Johnny']
b = a.copy()

b.append('Jeremy')

print("a串列內容:",a)
print("b串列內容:",b)

a串列內容: ['Johnny']
b串列內容: ['Johnny', 'Jeremy']

In [45]:
a = b = c = 255
print("----未更動任何變數的內容前")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))

a += 10
print("----更動a數值後")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))
print("a內容 = ",a)
print("b內容 = ",b)
print("c內容 = ",c)

b += 20
print("----更動b數值後")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))
print("a內容 = ",a)
print("b內容 = ",b)
print("c內容 = ",c)

----未更動任何變數的內容前
a的ID 140704199558880
b的ID 140704199558880
c的ID 140704199558880
----更動a數值後
a的ID 2438551664688
b的ID 140704199558880
c的ID 140704199558880
a內容 =  265
b內容 =  255
c內容 =  255
----更動b數值後
a的ID 2438551664688
b的ID 2438551663728
c的ID 140704199558880
a內容 =  265
b內容 =  275
c內容 =  255

In [56]:
a = ['Johnny']
b = a.copy()
c = a.copy()
print("----未更動任何變數的內容前")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))

a.append('Jay')
print("----更動a內容後")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))
print("a內容 = ",a)
print("b內容 = ",b)
print("c內容 = ",c)

b.append('Jolin')
print("----更動b內容後")
print("a的ID",id(a))
print("b的ID",id(b))
print("c的ID",id(c))
print("a內容 = ",a)
print("b內容 = ",b)
print("c內容 = ",c)

----未更動任何變數的內容前
a的ID 2438548798336
b的ID 2438541290240
c的ID 2438548798720
----更動a內容後
a的ID 2438548798336
b的ID 2438541290240
c的ID 2438548798720
a內容 =  ['Johnny', 'Jay']
b內容 =  ['Johnny']
c內容 =  ['Johnny']
----更動b內容後
a的ID 2438548798336
b的ID 2438541290240
c的ID 2438548798720
a內容 =  ['Johnny', 'Jay']
b內容 =  ['Johnny', 'Jolin']
c內容 =  ['Johnny']

# len()函數

In [9]:
name_list = ['Mary', 'Kyo', 'Iori','Kyo',"Chris",'Kyo']
qty_list= len(name_list)

print(qty_list)
print(type(qty_list))

6
<class 'int'>

In [10]:
name_list = [
                ['Mary', 'Kyo', 'Iori'],
                ['Kyo',"Chris",'Kyo']
            ]

qty_list= len(name_list)

print(qty_list)

2